@import url('https://fonts.googleapis.com/css?family=Roboto');
.navbar-item img {
    border-radius: 50%;
    max-height: 2rem;
}

.navbar-item h1 {
    color: #fff
}

.navbar-item {
    font-family: "Roboto"
}

#index {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrollTop {
    width: 75px;
    height: 75px
}

#toTop {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.is-selected {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#install-npm {
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.225rem;
}

#column-left-button {
    width: 100%;
}

#column-right-button {
    width: 100%;
    min-width: 95%;
}

.icon-button {
  margin-right: 8px!important;
}
.content-height {
    min-height: calc(100vh - 50px);
}
.footer {
    padding: 1rem 1.5rem 1rem !important;
}
.is-purple {
    background-color: #4B0082 !important;
    color: white !important;
}
.hero.is-purple .title {
    color: white !important;
}
.hero.is-purple .subtitle {
    color: white !important;
}
.is-purple .navbar-item {
    color: white !important;
}
.button.is-purple {
    border-color: transparent;
}
.first {
  display: inline-flex;
  margin-left: 15px;
}
.tags {
  margin-bottom: 0 !important;
  vertical-align: middle
}
.tags:not(.has-addons){
  margin-right: 5px;
}
.tag {
  margin-bottom: 0 !important;
  vertical-align: middle
  -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.tags-block .tags {
  margin-left: 5px;
}
.tags:last-child {
  margin-bottom: 0 !important;
}
.icon.margin-right {
    margin-right: 3px !important;
    }
.icon.margin-left {
     margin-left: 3px !important;
    }
.list-up {
    margin-top: 35px !important;
}
.baseline {
    vertical-align: baseline !important;
}

@media screen and (min-width: 1024px) {
    .field.mobile {
        width: 250px;
        float: right;
    }
}
