@import url('https://fonts.googleapis.com/css?family=Roboto');
.navbar-item img {
    border-radius: 50%;
    max-height: 2rem;
}

.navbar-item h1 {
    color: #fff
}

.navbar-item {
    font-family: "Roboto"
}

#index {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrollTop {
    width: 75px;
    height: 75px
}

#toTop {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.is-selected {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#install-npm {
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.225rem;
}

#column-left-button {
    width: 100%;
}

#column-right-button {
    width: 100%;
    min-width: 95%;
}
