<div class="columns">
    <!-- left column -->
    <div class="column">
        <h1 id="index" class="is-size-3">
Spark is a powerful modular framework that makes creating Discord bots easy
<p></p>
</h1></div>
<!-- left column end -->
<!-- right column -->
<div class="column">
    <pre id="install-npm">npm install sparkbots</pre>

<div class="columns is-4">
        <div class="column">
            <a id="column-left-button" class="button is-warning is-large" href="/documentation/intro" class="button"> Get Started </a>
        </div>
        <div class="column">
            <a id="column-right-button" class="button is-warning is-large" href="https://discord.gg/TezD2Zg"> <span class="icon margin-right"> <i class="fab fa-discord" > </i> </span> Spark Lounge </a> </div>

    </div></div>
<!-- right column end -->
</div>
