<section class="links hero {{page.color}}">
  <div class="container">

      <a href="/documentation/introduction" class="button {% if page.title != "Contribution"%}{{page.color}}{%else%}is-selected{%endif%}">Introduction</a>
      <a href="/documentation/styleguide" class="button {% if page.title != "Styleguide"%}{{page.color}}{%else%}is-selected{%endif%}">Styleguide</a>
      <a href="/documentation/issues" class="button {% if page.title != "Issues"%}{{page.color}}{%else%}is-selected{%endif%}">Issues</a>
      <a href="/documentation/pull_requests" class="button {% if page.title != "Pull requests"%}{{page.color}}{%else%}is-selected{%endif%}">Pull requests</a>
  </div>
</section>
